@import './bootstrap-variables';
@import './bootstrap-custom';


$lr-arrow-color: #d44950;

body {
  padding: 20px;
}

footer {
  text-align: right;
}

.lr-container {
  display: flex;
  height: 390px;
  .lr-container-left {
    position: relative;
    width: 30px;
    .lr-caret-left {
      position: absolute;
      color: $lr-arrow-color;
      top: 110px;
      left: 20px;
    }
  }
  .lr-container-center {
    height: 300px;
    margin-left: 10px;
    margin-right: 10px;

    .lr-screen {
      position: relative;
      height: 250px;
      width: 180px;
      overflow: hidden;

      .card {
        position: absolute;
        width: 180px;
        height: 50px;
        line-height: 50px;
        padding-left: 60px;
        font-weight: bold;
        &:first-child {
          border: solid 1px #e3e3e3;
        }
        border-right: solid 1px #e3e3e3;
        border-left: solid 1px #e3e3e3;
        border-bottom: solid 1px #e3e3e3;
        i {
          margin-left: 10px;
        }
      }

      #card0 > i{
        color: #00c3ff;
      }
      #card1 > i{
        color: #F49451;
      }
      #card2 > i{
        color: #40ff00;
      }
      #card3 > i{
        color: #7f00ff;
      }
      #card4 > i{
        color: #ff00b7;
      }
      #card5 > i{
        color: #2F2F2F;
      }
      #card6 > i{
        color: #ff0048;
      }
    }
    .lr-btns {
      margin-left: 50px;
      #btnStart,
      #btnStop {
        margin-top: 15px;
      }
      #btnStop {
        display: none;
      }
    }
    .lr-speed {
      margin-top: 15px;
      #speedRange {
        margin-top: 7px;
        width: 170px;
      }
    }
  }
  .lr-container-right {
    position: relative;
    width: 30px;
    .lr-caret-right {
      position: absolute;
      color: $lr-arrow-color;
      top: 110px;
      left: 0px;
    }
  }
}

